{% extends "base.html" %}

{% block first_column %}
    <div id="mainCol" class="fix"><a name="main"></a>
        <div class="post">
            <div class="postMeta"><span class="date">Error en la autorizaci&oacute;n</span></div>
            <h2>Permiso denegado</h2>
            <div class="entry">
                <p>Disculpa. Est&aacute;s tratando de acceder a una pagina sin tener autorizaci&oacute;n.</p>
                {% if user %}
                <p>Estas identificado como {{ user.email }}, y esta cuenta no tiene privilegios para acceder a esta informaci&oacute;n.</p>
                <p>Si crees que es un error, prueba <a href="{{ logout_url }}">a salir</a> y despu&eacute;s
                    <a href="{{ login_url }}">entrar</a> otra vez.</p>
                {% else %}
                <p>Deber&iacute;as probar de hacer <a href="{{ login_url }}">login</a> con tu cuenta de google si crees que va a funcionar.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

